<div class="container">
  <h1>Cadastro de Produto</h1>
  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Nome:</label>
      <input
        formControlName="name"
        type="text"
        class="form-control"
        id="name"
        placeholder="Digite o nome"
      />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">População:</label>
      <input
        formControlName="population"
        type="number"
        class="form-control"
        id="population"
        placeholder="Digite a População
        "
      />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Estado:</label>
      <input
        formControlName="state"
        type="text"
        class="form-control"
        id="state"
        placeholder="Digite o estado"
      />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Area</label>
      <input
        formControlName="area"
        type="number"
        class="form-control"
        id="area"
        placeholder="Digite a area"
      />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Ponto famoso:</label>
      <input
        formControlName="famous_landmark"
        type="text"
        class="form-control"
        id="famous_landmark"
        placeholder="Digite o ponto"
      />
    </div>
    <button type="button" class="btn btn-primary">Salvar</button>
    <button type="button" class="btn btn-primary">Criar</button>
  </form>
</div>
