<div *ngIf="FormGroupCity" class="container">
  <h1>{{ isEditing ? 'Editar Cidade' : 'Cadastrar Cidade' }}</h1>
  <form [formGroup]="FormGroupCity">
    <div class="mb-3">
      <label for="name" class="form-label">Nome:</label>
      <input
        formControlName="name"
        type="text"
        class="form-control"
        id="name"
        placeholder="Digite o nome"
      />
    </div>
    <div class="mb-3">
      <label for="population" class="form-label">População:</label>
      <input
        formControlName="population"
        type="number"
        class="form-control"
        id="population"
        placeholder="Digite a População"
      />
    </div>
    <div class="mb-3">
      <label for="state" class="form-label">Estado:</label>
      <input
        formControlName="state"
        type="text"
        class="form-control"
        id="state"
        placeholder="Digite o estado"
      />
    </div>
    <div class="mb-3">
      <label for="area" class="form-label">Área:</label>
      <input
        formControlName="area"
        type="number"
        class="form-control"
        id="area"
        placeholder="Digite a área"
      />
    </div>
    <div class="mb-3">
      <label for="famous_landmark" class="form-label">Ponto famoso:</label>
      <input
        formControlName="famous_landmark"
        type="text"
        class="form-control"
        id="famous_landmark"
        placeholder="Digite o ponto"
      />
    </div>
    <button type="button" class="btn btn-primary" (click)="update()">
      {{ isEditing ? 'Editar' : 'Criar' }}
    </button>
  </form>
</div>
